#av{
	float:left;
	width:100%;
	top:0px
}
#audiorecorder,#video1{
	margin-left:40%;
	margin-top:1%;
	clear:both;
}
#testing{
	margin-left:45%;
	clear:both;
}
#a{
	float:left;
	width:33%
}
#b{
	float:left;
	width:33%
}
#c{
	float:left;
	width:33%
}